<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <link href="../static/css/filter.css" rel="stylesheet" type="text/css">
    <link href="../static/css/container.css" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../static/images/70x67seph.png" rel="icon thumbnail">
    <title>Seph</title>
</head>
<body>
    <header>
        <div class="logo">
            <div class="logoimg"></div>
        </div>
        <div class="right">
            <nav>
                <button id="homebtn"><a>Home</a></button>
                <button><a>Messages</a></button>
                <button><a>Notifications</a></button>
                <button><a>About</a></button>
                <button><a>Contuct Us</a></button>
            </nav>
            <div class="profile">
                <img id="proimg" src="../static/images/profile.png" alt="Beka Gidada">
                <div class="profilebtn">
                    <button id="login"><a>Log In</a></button>
                    <button id="register"><a>Sign Up</a></button>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
         <!-- Filter section-->
        <div class="filter">
            <div class="searchicon"></div>
            <button class="searchbtn">Search</button>
        </div>
        <!--Recently added properties-->
        
        <div class="rows">
            <h4>Recently added</h4>
            <div class="rowcontainer">
                <div class="oneproduct">
                    {% for property in properties  %}
                    <div class="propdetails">
                        <h3>{{ property.user.first_name }} {{property.user.last_name  }}</h3>
                        <img src="../static/images/istockphoto-1283685505-612x612.jpg" alt="{{property.name}}">
                        <div class="priceplace">
                            <h2>{{ property.price }}</h2>
                            <h5> {{ property.details }}</h5>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <!--Appartments-->
        <div class="rows">
            <h4>Appartments</h4>
            <div class="rowcontainer">
                <div class="oneproduct">
                    <div class="propdetails">
                        <h3>Beka Gidada</h3>
                        <img src="../static/images/360_F_283657847_rmjsrJvJ0PkapV1uXWZDb9gIf9ftwJbd (1).jpg" alt="Beka Gidada">
                        <div class="priceplace">
                            <h2>6,000 Birr</h2>
                            <h5> Bole Bulbula, 12 kare</h5>
                        </div>
                    </div>
                    <div class="propdetails">
                        <h3>Beka Gidada</h3>
                        <img src="../static/images/360_F_283657847_rmjsrJvJ0PkapV1uXWZDb9gIf9ftwJbd (1).jpg" alt="Beka Gidada">
                        <div class="priceplace">
                            <h2>6,000 Birr</h2>
                            <h5> Bole Bulbula, 12 kare</h5>
                        </div>
                    </div>
                    <div class="propdetails">
                        <h3>Beka Gidada</h3>
                        <img src="../static/images/360_F_283657847_rmjsrJvJ0PkapV1uXWZDb9gIf9ftwJbd (1).jpg" alt="Beka Gidada">
                        <div class="priceplace">
                            <h2>6,000 Birr</h2>
                            <h5> Bole Bulbula, 12 kare</h5>
                        </div>
                    </div>
                </div> 
            </div>   
        </div>

        <!--For you-->
        <div class="rows">
            <h4>Find more</h4>
            <div class="rowcontainer">
                <div class="oneproduct">
                    <div class="propdetails">
                        <h3>Beka Gidada</h3>
                        <img src="../static/images/360_F_283657847_rmjsrJvJ0PkapV1uXWZDb9gIf9ftwJbd (1).jpg" alt="Beka Gidada">
                        <div class="priceplace">
                            <h2>6,000 Birr</h2>
                            <h5> Bole Bulbula, 12 kare</h5>
                        </div>
                    </div>
                    <div class="propdetails">
                        <h3>Beka Gidada</h3>
                        <img src="../static/images/360_F_283657847_rmjsrJvJ0PkapV1uXWZDb9gIf9ftwJbd (1).jpg" alt="Beka Gidada">
                        <div class="priceplace">
                            <h2>6,000 Birr</h2>
                            <h5> Bole Bulbula, 12 kare</h5>
                        </div>
                    </div>
                    <div class="propdetails">
                        <h3>Beka Gidada</h3>
                        <img src="../static/images/360_F_283657847_rmjsrJvJ0PkapV1uXWZDb9gIf9ftwJbd (1).jpg" alt="Beka Gidada">
                        <div class="priceplace">
                            <h2>6,000 Birr</h2>
                            <h5> Bole Bulbula, 12 kare</h5>
                        </div>
                    </div>
                </div> 
            </div>   
        </div>
    </div>
<footer>
    <h3>SePh - Value your Time, Secure your property!</h3>
</footer>
<script src="../static/scripts/filter.js"></script>
</body>
</html>