{% extends "common.html" %}
{% block content %}
    <!-- Filter section-->
    <div class="filter">
        <div class="searchicon"></div>
        <button class="searchbtn">Search</button>
    </div>
    <!--Recently added properties-->
    <div class="rows">
        <h4>Recently added</h4>
        <div class="rowcontainer">
            <div class="oneproduct">
                {% for property in properties  %}
                <div class="propdetails">
                    <h3>{{ property.user.first_name }} {{ property.user.last_name }}</h3>
                    <a href="{{ url_for('propertyDetails', property_id=property.id) }}"><img src="../static/images/{{property.user.username}}/property/{{ property.images[0].name }}" alt="{{property.name}}"></a>
                    <div class="priceplace">
                        <h2>{{ property.price }} ETB</h2>
                        <h5>{{ property.details[:24] }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a id="more" href="{{url_for('allproperty')}}">More</a>
        </div>
    </div>
    <!--Appartments-->
    <div class="rows">
        <h4>Appartments</h4>
        <div class="rowcontainer">
            <div class="oneproduct">
                {% for property in appartments  %}
                <div class="propdetails">
                    <h3>{{ property.user.first_name }} {{ property.user.last_name }}</h3>
                    <a href="{{ url_for('propertyDetails', property_id=property.id) }}"><img src="../static/images/{{property.user.username}}/property/{{ property.images[0].name }}" alt="{{property.name}}"></a>
                    <div class="priceplace">
                        <h2>{{ property.price }} ETB</h2>
                        <h5>{{ property.details[:24] }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a id="more" href="{{url_for('appartments')}}">More</a>
        </div>
    </div>
    <!--For you-->
    <div class="rows">
        <h4>Find More</h4>
        <div class="rowcontainer">
            <div class="oneproduct">
                {% for property in olds  %}
                <div class="propdetails">
                    <h3>{{ property.user.first_name }} {{ property.user.last_name }}</h3>
                    <a href="{{ url_for('propertyDetails', property_id=property.id) }}"><img src="../static/images/{{property.user.username}}/property/{{ property.images[0].name }}" alt="{{property.name}}"></a>
                    <div class="priceplace">
                        <h2>{{ property.price }} ETB</h2>
                        <h5>{{ property.details[:24] }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a id="more" href="{{url_for('allproperty')}}">More</a>
        </div>
    </div>
{% endblock content %}