#copyr{
    width: 100%;
    height: 62px;
    background-color: #0D99ff;
    bottom: 0px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
}
#valyotime {
    font-weight: 200;
    font-size: 18px;
    align-self: center;
}